DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=database
# Session
SESSION_SECRET=your_session_secret_key_here

# Email Configuration (Gmail dengan App Password)
EMAIL_USER=gmail123@gmail.com
EMAIL_APP_PASSWORD=app-password

DISCORD_CLIENT_ID=1493044455547211776
DISCORD_CLIENT_SECRET=r6v_BIpJCAGpin1m4RXMdm_fgiAUx1cE

# App Configuration
BASE_URL=http://localhost:3000
NODE_ENV=development
PORT=3000
