DB_HOST=mydb.shardox.web.id
DB_PORT=3306
DB_USER=u1_63pFKsxL2n
DB_PASSWORD=DHJfth+gayttAC5hF@S4vH+d
DB_NAME=s1_java
# Session
SESSION_SECRET=your_session_secret_key_here

# Email Configuration (Gmail dengan App Password)
EMAIL_USER=keposelet@gmail.com
EMAIL_APP_PASSWORD=hrry wdoi rbdd ymmk

DISCORD_CLIENT_ID=1493044455547211776
DISCORD_CLIENT_SECRET=r6v_BIpJCAGpin1m4RXMdm_fgiAUx1cE

# App Configuration
BASE_URL=http://localhost:3000
NODE_ENV=development
PORT=3000